:root {
  --main-bg-color: pink;
  text-align: center;
}

.Home-About {
  width: 416px;
  height: 13px;
  object-fit: contain;
  font-family: TitilliumWeb;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-white);
}

.section-header {
  text-align: center;
  align-items: center;
  padding: 5% 10%;
  position: relative;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-h1 {
  font-family: "Times New Roman", "Times", "serif";
  font-size: 40px;
  font-weight: bold;
  line-height: 0.75;
  letter-spacing: 4px;
  margin: auto;
  border: auto;
  padding: 3% 0 3% 0;
}
.h2 {
  text-transform: uppercase;
  object-fit: contain;
  font-family: TitilliumWeb;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: var(--color-white);
}
.line {
  width: 87px;
  height: 4px;
  opacity: 0.2;
  background-color: #111;
  margin: 0 0px 0px 0px;
  border: 0;
  padding: 0;
  display: inline-block;
}

.section-text {
  font-family: "Times New Roman", "Times", "serif";
  font-size: 22px;
  line-height: 1.44;
  letter-spacing: 0.36px;
  text-align: center;
}

.warpped-img {
  margin: 50px 0 0 0;
  padding: 0 1% 0 1%;
  display: inline-block;
  width: 20%;
}
.services-img {
  image-rendering: auto;
  height: 150px;
}
.section-img-title {
  margin: 50px 0 0 0;
  text-emphasis: bold;
  font-size: 20px;
  display: block;
  text-align: center;
}

.team-img {
  image-rendering: auto;
  height: 150px;
}

.section-img-detail {
  margin: 10px;
  width: 100%;
  text-align: center;
  font-size: 17;
}
#fa5 {
  padding: 10px;
  color: #3c4761;
  text-align: center;
  justify-content: center;
  justify-content: center;
}

/* ________________________________________________________________ */
:root {
  --size: 160px;
  --bord: 25px;
}

.chart {
  width: var(--size);
  height: var(--size);
  margin: auto;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--bord));
  height: calc(100% - var(--bord));
  background: white;
  border-radius: inherit;
}

.percent {
  position: relative;
  z-index: 1;
  font-size: 40px;
  color: #3c4761;
}
