* {
  box-sizing: border-box;
}
.welcome-header {
  display: flex;
  align-items: center;
  padding: 30px 10%;
}
.nav-bar {
  width: 100%;
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-emphasis: bold;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.5s;
}

li a:hover {
  transition: all 0.5s;
  transform: scale(1.5);
}
.logo {
  width: 118px;
  height: 37px;
  display: inline-block;
  /* cursor: pointer; */
  margin: auto;
}

body {
  margin: 0;
}

.welcome-section {
  background-color: #87509c;
  width: 100%;
  height: 596px;
  position: relative;
}
.welcome-wrapped {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  border: 0;
}
.welcome-button {
  background-color: #eb7d4b;
}
.welcome-text {
  object-fit: contain;
  font-family: "Times New Roman", "Times", "serif";
  font-size: 30px;
  line-height: 1.15;
  color: #f7f3ea;
}
.section-button {
  width: 293px;
  height: 70px;
  color: #fff;
  margin: 50px;
  font-family: "Times New Roman", "Times", "serif";
  font-size: 17.5px;
  font-weight: 600;
  line-height: 1.54;
  letter-spacing: 0.35px;
  border: 0;
}

.services-section {
  background-color: #17c2a4;
  width: 100%;
  height: 747px;
}

.services-h1 {
  color: #fff;
}
.services-text {
  color: #fff;
}

.services-img-title {
  color: #fff;
}
.services-img-detail {
  color: #fff;
}

.services-details {
  width: 100%;
  height: 100%;
}

.team-section {
  width: 100%;
  height: 915px;
  background-color: #e7f1f8;
}

.team-h1 {
  color: #3c4761;
}
.team-text {
  color: #3c4761;
}

.team-img-title {
  color: #27283d;
}
.team-img-position {
  color: #30bae7;
  font-size: 17px;
}
.team-img-detail {
  color: #3c4761;
}
.skill-section {
  width: 100%;
  height: 655px;
  background-color: #fff;
}

.skill-h1 {
  color: #3c4761;
}
.skill-text {
  color: #3c4761;
}
.warpped-skill {
  margin: auto;
  padding: 0 1% 0 1%;
  display: inline-block;
  width: 20%;
}

.x-1 {
  --value: 90%;
  background-image: conic-gradient(#30bae7 var(--value), #dfe8ed var(--value));
}
.x-2 {
  --value: 75%;
  background-image: conic-gradient(#d74680 var(--value), #dfe8ed var(--value));
}
.x-3 {
  --value: 70%;
  background-image: conic-gradient(#15c7a8 var(--value), #dfe8ed var(--value));
}
.x-4 {
  --value: 85%;
  background-image: conic-gradient(#eb7d4b var(--value), #dfe8ed var(--value));
}
.skill-img-title {
  color: #3c4761;
  text-emphasis-style: bold;
}

.pofolio-section {
  width: 100%;
  height: 1423px;
  background-color: #ffdd99;
}
.portfolio-header {
  text-align: center;
  align-items: center;
  padding: 30px 10%;
  position: relative;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warpped-portfolio-buttons {
  display: block;
  margin-top: 3%;
  width: 100%;
}
.portfolio-buttons {
  padding: 10px 20px 10px 20px;
  margin: 0 0.1% 0 0.1%;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  color: #333;
  background-color: rgba(51, 51, 51, 0.3);
  text-decoration: none;
}
.section-detail {
  width: 100%;
  top: 4%;
}
.warpped-portfolio-img {
  display: inline-block;
  color: #393939;
  font-weight: bold;
  font-size: 17px;
}
.portfolio-img {
  width: 541px;
  height: 311px;
  margin: 40px 10px 0 10px;
}
.portfolio-button {
  background-color: #17c2a4;
}

.client-section {
  width: 100%;
  height: 1440px;
  background-color: #d74680;
  color: #fff;
}

.;
