@media only screen and (max-width: 1024px) {
  .portfolio-img {
    width: 487px;
    height: 280px;
    margin: 40px 10px 0 10px;
  }

  .warpped-client-img {
    display: inline-block;
    padding: 50px 100px 40px;
  }
}

@media only screen and (max-width: 960px) {
  .services-img {
    image-rendering: auto;
    height: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .services-img {
    image-rendering: auto;
    height: 90px;
  }
}
@media only screen and (max-width: 640px) {
  .services-img {
    image-rendering: auto;
    height: 80px;
  }
}
@media only screen and (max-width: 480px) {
  /*your CSS Rules*/
}
@media only screen and (max-width: 320px) {
  /*your CSS Rules*/
}
